.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 25px;
}
@media (max-width: 750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 750px)  and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1000px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr 
}
.thumbnail{
    width: 100%;
}
.thumbnail-row{
    margin-bottom: 4px;
    position: relative;
}
.time-frame{
    position: absolute;
    background-color: black;
    color: white;
    font-family: Roboto , Arial;
    bottom: 8px;
    right: 3px;
    padding: 4px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;

}
.video-title{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 15px;
}
.channel-pic{
    width: 40px;
    border-radius: 25px;

}
.video-stat,
.video-author{
    color: rgb(96, 96, 96);
    font-size: 10px;
}
.video-author{
    margin-bottom: 3px;
}
